@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}

body{
    background: #19123b;

}

.card {
    border: none;
    border-top: 5px solid rgb(176,106,252);
    background: #212042;
    color:#57557a;
}
.main_div{
    height:100vh;
}
p{
    font-size: 20px;
    font-weight:500;
}

a{
    text-decoration:none;
}

.fab{
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    background:#2a284d;
    height:50px;
    width: 50px;
    border-radius:50%;
    transition:all 0.2s linear;
}

.fab:hover{
    cursor:pointer;
    background:#aaafff;
}

.fa-twitter{
    color:#56ABEC;
}
.fa-facebook{
    color:#1775F1;
}
.fa-instagram{
    color:#fe4164;
}

.division{
    width:100%;
    text-align:center;
    margin:30px auto 20px;

}

.division .main-heading{
    font-weight:500;
    font-size:25px;
}

.division span{
    font-weight:500;
    font-size:25px;
}

.myform{
    padding:0 25px 0 35px;
}

.form-control{
    border:1px solid #57557a;
    border-radius: 2px;
    background: #212042;
    margin-bottom:20px;
    letter-spacing:1px;
}

.form-control:focus{
    border:1px solid #57557a;
    border-radius: 5px;
    background: #212042;
    box-shadow: none;
    letter-spacing:1px;
    color:#fff

}

.bn{
    text-decoration: underline;
}

.bn:hover{
    cursor:pointer;
}

.form-check-input{
    width: 1rem !important;
    height: 1rem !important;

}

.btn-primary{
    background: linear-gradient(135deg,rgb(118, 48, 199)39%,rgb(107, 6, 250)100%) !important;
    border:none;
    border-radius: 50px;
}

small{
    color: #f2ceff;
}

.register{
    color:#57557a;
    text-decoration:none;
}

.register:hover{
    color:white;
    text-decoration: none;

}
